@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1;
    word-wrap: break-word;
    color: #e5e7eb;
    font-family: "Noto Sans", sans-serif;
}

body {
    background-color: #020617;
    padding: 5px;
}

main {
    border: 0.5px solid rgba(128, 128, 128, 0.8);
    border-radius: 20px;
    padding: 30px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.green {
    color: #7adaa5;
}

.red {
    color: #fb4141;
}

.entitiesContainer {
    display: flex;
    gap: 40px;
}
.entitiesContainer .entity {
    border: 0.5px solid rgba(128, 128, 128, 0.5);
    border-radius: 20px;
    padding: 25px;
    flex: 1;
    background: linear-gradient(
        to right,
        #020617,
        #151e2f,
        #1b2638,
        #151e2f,
        #020617
    );
}
.entitiesContainer .entity h2,
.entitiesContainer .entity p {
    margin: 10px 0;
}

.btnsContainer {
    display: flex;
    margin: 20px 0;
    justify-content: space-between;
}

.journal {
    border: 0.5px solid rgba(128, 128, 128, 0.5);
    border-radius: 15px;
    padding: 20px 50px;
}
.journal h3 {
    margin-bottom: 20px;
}
.journal li {
    margin: 5px 0;
}

footer p {
    text-align: right;
    color: #464655;
    margin-top: 25px;
}

.victor {
    display: inline-block;
    background: rgba(99, 163, 97, 0.5);
    border: 1px solid rgba(128, 128, 128, 0.5);
    font-size: 18px;
    margin-top: 20px;
    padding: 10px 15px;
    border-radius: 25px;
}

.bold {
    font-weight: bold;
}

button {
    border: none;
    padding: 13px 20px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 25px;
}

.buttonDragon button {
    background: #6366f1;
    transition: 0.2s background ease-in;
}
.buttonDragon button:hover {
    background: #0a0c73;
}
.buttonGolem button {
    background: #ec4899;
    transition: 0.2s background ease-in;
}
.buttonGolem button:hover {
    background: #a21058;
}
.buttonRestart button {
    background: #f97316;
    transition: 0.2s background ease-in;
}
.buttonRestart button:hover {
    background: #974003;
}
