@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* General properties */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1;
    word-wrap: break-word;
    font-family: "Noto Sans", sans-serif;
}
