@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* General properties */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1;
    word-wrap: break-word;
    font-family: "Noto Sans", sans-serif;
}

body {
    padding: 10px 20px;
}

header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    margin-bottom: 20px;
    padding: 20px 30px;
}

.booksContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.individualBook {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border: 2px solid black;
    border-radius: 15px;
    padding: 10px 2px;
}