/*
Specific CSS for the table in index.php
*/

/* Color classes used to for "Stock faible" and "Rupture de stock" string */
.orange {
    color: orange;
}
.red {
    color: red;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid black;
    padding: 10px 5px;
}
